   
    <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
        Seleccionar
    </button>


    <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive"
        aria-labelledby="offcanvasResponsiveLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Temas variados</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="padding: 10px;">
            <ul class="navbar-nav align-items-center gap-1" style="margin-top: 10px;">
                <li class="nav-item" style="width: 100%;">
                    <a type="button" class="btn btn-primary w-100 text-center" href="#">Rango de
                        precio</a>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a type="button" class="btn btn-primary w-100 text-center" href="#">Idioma</a>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a type="button" class="btn btn-primary w-100 text-center" href="#">Valoraciones</a>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a type="button" class="btn btn-primary w-100 text-center" href="#">Verificación
                        de Gloxi</a>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a type="button" class="btn btn-primary w-100 text-center" href="#">Atención
                        personalizada</a>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a type="button" class="btn btn-primary w-100 text-center" href="#">Directos</a>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a type="button" class="btn btn-primary w-100 text-center" href="#">Duración</a>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a type="button" class="btn btn-primary w-100 text-center" href="#">Infoproductos que más te
                        gustan</a>
                </li>
            </ul>
        </div>
    </div>