<div class="row">
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <app-infoproducts></app-infoproducts>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <app-infoproducts></app-infoproducts>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <app-infoproducts></app-infoproducts>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <app-infoproducts></app-infoproducts>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <app-infoproducts></app-infoproducts>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <app-infoproducts></app-infoproducts>
    </div>
</div>