<div class="wrapper">
  <!--start header wrapper-->
  <div class="header-wrapper">
    <app-header  (loginClicked)="openLogin()"></app-header>

    @if(isLoggedIn){
    <app-primary-menu></app-primary-menu>
    }


  </div>
  <div class="page-wrapper">

    @if(showLogin){
      <app-login (closeLogin)="closeLogin()"></app-login>
    }@else{

        <div class="container-fluid">

          <div class="row">
            @if(isLoggedIn){
                <div class="col-12 col-lg-2 mt-4">
                
                  <app-filter-menu></app-filter-menu>
                  
                </div>
          }
            
            <router-outlet />
          
          </div>
          <hr>
          <h3 class="mt-4 mb-2">Patrocinado</h3>
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
            <div class="col">
              <app-infoproducts></app-infoproducts>
            </div>
            <div class="col">
              <app-infoproducts></app-infoproducts>
            </div>
            <div class="col">
              <app-infoproducts></app-infoproducts>
            </div>
          </div>


        </div>
    }
  </div>

  <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
  <app-footer></app-footer>
</div>