<div class="primary-menu">
    <nav class="navbar navbar-expand-lg align-items-center">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header border-bottom">
                <div class="d-flex align-items-center">
                    <div class="">
                        <img src="assets/images/logo.png" class="logo-icon" alt="logo icon">
                    </div>

                </div>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="ms-3">
                    <h4 class="text-secondary">Filtros</h4>
                </div>
                <ul
                    class="navbar-nav d-flex justify-content-center flex-row align-items-center flex-grow-1 flex-wrap">
                    <li class="nav-item dropdown">
                        <a type="button" class="nav-link" href="javascript:;"
                            style="color: #0fbbe6;">Arte</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a type="button" class="nav-link" href="javascript:;"
                            style="color: #0fbbe6;">Marketing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a type="button" class="nav-link" href="javascript:;"
                            style="color: #0fbbe6;">Agricultura</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a type="button" class="nav-link" href="javascript:;"
                            style="color: #0fbbe6;">Finanzas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a type="button" class="nav-link" href="javascript:;"
                            style="color: #0fbbe6;">Deporte</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a type="button" class="nav-link" href="javascript:;"
                            style="color: #0fbbe6;">Alimentación</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a type="button" class="nav-link" href="javascript:;"
                            style="color: #0fbbe6;">Espirualidad</a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>
</div>
